.library__navigation {
    padding-left: 13rem;
    padding: 2rem 0 2rem 12rem;
    @include font($size: 2rem, $weight: 600);
}

.navigation__list {
    display: flex;
    gap: 2rem;
    text-transform: capitalize;
}

.nav__item {
    padding: 1rem;
    border-radius: $radius;
}

.item_active .link {
    color: $color-bright;
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: $color-light;
    padding-top: 2rem;
}

.save-episodes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    width: 40rem;
    height: 30rem;
    background: linear-gradient($color-bright-light, $color-bright);
    padding: 1rem;
    border-radius: $radius;
}

.delete {
    opacity: 0;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: $color-light;
    -webkit-mask: url('./assets/icons/delete.svg') no-repeat center;
    mask: url('./assets/icons/delete.svg') no-repeat center;
}

.delete:hover,
.rename:hover {
    background-color: $color-menu;
}

.rename {
    opacity: 0;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    background-color: $color-light;
    -webkit-mask: url('./assets/icons/edit.svg') no-repeat center;
    mask: url('./assets/icons/edit.svg') no-repeat center;
}

.owner {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: end;
    opacity: 0;
}

.input-rename {
    width: 18rem;
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient($color-bright-light, $color-bright);
    width: 20rem;
    height: 30rem;
    border-radius: $radius;
    padding: 1rem;
    color: $color-light;
    cursor: pointer;

    &:hover .delete,
    &:hover .rename {
        opacity: 1;
    }
}

.playlist__image {
    padding-top: 2rem;
    align-self: center;
    width: 70%;
    height: 50%;
    border-radius: $radius;
}

.name__wrapper {
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit__wrapper {
    display: flex;
}
